{:paths ["src"]
 :deps  {aero/aero {:mvn/version "1.1.6"}
         com.walmartlabs/lacinia {:mvn/version "1.2.1"}
         org.clojure/core.cache {:mvn/version "1.0.225"}}
 :aliases
 {:dev {:extra-deps
        {io.github.clojure/tools.build {:mvn/version "0.9.6"}
         aleph/aleph {:mvn/version "0.6.4"}
         metosin/reitit {:mvn/version "0.6.0"}
         land.bnert/beh
         {:git/url "https://github.com/bnert-land/beh"
          :git/sha "9fa6ab1ec08646025b4e6516b7222da9d7154922"}}
        :extra-paths ["dev/src"
                      "examples/aleph-reitit-interceptors/resources"]}}}

